.Main_Title{
font-size : 500%;
text-align: center;
color: rgb(0,255,255);
padding: 0;
margin: 5%;
/*background-color: rgb(247,247,247);
border: 2px rgb(0,255,255) solid;*/


}

.text{
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}

.donut1{
font-size: 250%;
float:left;
padding-left: 475px;
/*margin:0px,0px,0px,350px;*/


}

.donut2{
font-size: 250%;
float: right;
padding-right: 475px;
/*margin:0px,350px,0px,0px;*/


}

.c_donut{
font-family: arial;
width: 300px;
float: left;
padding-left: 390px;
position:absolute;
}

.v_donut{
font-family: arial;
width: 300px;
float: right;
padding-right: 390px;
position: absolute;

}

body{
background-color: rgb(255,182,193);
}
